#login-form{
    height: 400px;
    width: 40%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto ;
    border-radius: 10px;
}


.login-details{
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.login-alert{
   
}