.user-page{
    background-color: aqua;
    height: 100vh;
}

#location-form{
    height: 400px;
    display: flex;
    flex-direction: column;
    width: 200px;
    /* justify-content: center;
    align-items: center; */
}

.leaflet-container{
    width: 80vw;
    height:100vh ;
    /* height: 80%; */
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
}


.input-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}